# =============== RubyMine.gitignore
# =============== PhPStorm.gitignore
.idea
dump.rdb


# =============== OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# =============== # Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Except the .htpassed
!.htpasswd
vendor
aftership-woocommerce-tracking.zip
lib/