#woocommerce-aftership .inside {
	padding: 0px;
	margin: 0;
}
#woocommerce-aftership .button-show-form {
	width: 100%;
	text-align: center;
	border: solid 1px #cccccc;
	background-color: #f7f7f7;
	border-radius: 3px;
	color: #555;
	font-size: 13px;
	line-height: 15px;
}

#woocommerce-aftership .button-cancel {
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #f7f7f7;
	color: #555;
	font-size: 13px;
	line-height: 15px;
	margin-left: 12px;
}

#woocommerce-aftership a.link-to-setting {
	display: block;
	margin-top: 4px;
	font-size: 12px;
	line-height: 1.67;
}

#woocommerce-aftership #aftership-tracking-form {
	padding: 12px;
	display: none;
}
#woocommerce-aftership #aftership-tracking-form p.form-field {
	margin-top: 0;
}
#woocommerce-aftership #aftership_tracking_slug  {
	width: 100%;
	max-width: 100%;
}

#woocommerce-aftership input {
	width: 100%;
}
#woocommerce-aftership input:invalid {
	border-color: #aa0000;
	color: #aa0000;
}
#woocommerce-aftership input:invalid~div {
	float: left;
	color: #aa0000;
}


#woocommerce-aftership .preview_tracking_link {
	display: none;
	margin-bottom: 0;
}
#woocommerce-aftership .preview_tracking_link a {
	padding: 0 16px 0 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVQYV2NkIBIwoqtTLJn9H13sfk8qI4ZCkCJ0xTgVoisGK0TWDRKAKQKxYXJwhTAFyIpg7gQpRlGIrBtbQICNR7cGJoasAa4QWRCnQmxWIbsbJA8AqXxEC1jaCvYAAAAASUVORK5CYII=)
	no-repeat right;
}
#woocommerce-aftership .meta {
	font-size: 11px;
	color: #999;
	padding: 10px;
	margin: 0;
}
#woocommerce-aftership #tracking-items {
	margin: 0;
}
#woocommerce-aftership .tracking-content {
	background: #efefef none repeat scroll 0 0;
	padding: 10px;
	position: relative;
	margin: 0;
}
#woocommerce-aftership .tracking-content:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	left: 20px;
	width: 0;
	height: 0;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: #efefef transparent;
}

/* tracking item */

#woocommerce-aftership .tracking-item {
	padding: 16px 12px;
	border-bottom: 1px solid #eeeeee;
}
.tracking-item a {
	text-decoration: none;
}
#woocommerce-aftership .tracking-item-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	line-height: normal;
	color: #5f5f5f;
	margin-bottom: 8px;
}
#woocommerce-aftership .tracking-item-title a.delete-tracking {
	color: #a00;
	margin-left: 12px;
}
#woocommerce-aftership .tracking-item-content {
	background-color: #f6f6f6;
	padding: 12px;
	font-size: 14px;
	line-height: 1.43;
	word-break: break-all;
}
#woocommerce-aftership .tracking-item-content:first-child {
	margin-bottom: 4px;
}
.widefat .column-wc_actions a.aftership_add_inline_tracking.button::after {
	content: "\f230";
}
.wcas-tracking-number-list li {
	position: relative;
	padding: 5px;
	min-height: 50px;
	box-sizing: border-box;
	margin-bottom: 0;
}
a.aftership_inline_tracking_delete{
	display:none;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 11px;
	color: #a00;
}
a.aftership_inline_tracking_delete span.dashicons{
	width: 16px;
	height: 16px;
	font-size: 16px;
}
.wcas-tracking-number-list li:hover a.aftership_inline_tracking_delete{
	display:block;
}
ul.wcas-tracking-number-list {
	margin: 0;
}